.banner{
    margin: 20px 0 0 0;
}
.banner-layout{
    position: relative;
}

.banner-img{
    width: 520px;
    height: auto;
    /* position: relative; */
}

.banner-text{
    position: absolute;
    top: 70px;
    right: 60px;
}
.banner-text-2{
    position: absolute;
    bottom: 70px;
    right: 70px;
}
.banner-text-3{
    position: absolute;
    top: 70px;
    left: 35px;
}
.banner-text-4{
    position: absolute;
    bottom: 70px;
    left: 35px;
}

.blog{
    margin: 100px 0;
}
.blog-header{
    margin: 80px;
    text-align: center;
}
.card{
    border-radius: none!important;
}
.card-body{
    background-color: whitesmoke;
}
.card-img-top{
    width: auto;
    height: 200px;
}
.card-sub{
    margin: 15px 0;
    font-size: 12px;
}
.card-span{
    margin-left: 20px;
}